*.bin
*.app
hashcat
libhashcat.so.*
libhashcat*.dylib
*.potfile
*.restore
*.dictstat2
*.pot
*.pid
*.log
*.out
*.dSYM
kernels/**
lib/*.a
modules/*.so
obj/*/*/*.o
obj/*.o
obj/*.a
include/CL
tools/luks_tests
